<div class="container mt-5">
    <h2 class="text-center">Add User</h2>
    
  <form class="row g-3 mt-1" action="/admin/add-user/" method="post">
    <div class="col-md-6">
      <label for="inputName" class="form-label">Full Name</label>
      <input type="text" name="fullName" value="" class="form-control" id="inputName">
    </div>
    <div class="col-md-6">
      <label for="inputPhone" class="form-label">Phone</label>
      <input type="text" name="phone" class="form-control" value="" id="inputPhone">
    </div>
    <div class="col-md-6">
      <label for="inputEmail4" class="form-label">Email</label>
      <input type="email" name="email" class="form-control" value="" id="inputEmail4">
    </div>
    <div class="col-md-6">
      <label for="inputPassword4" class="form-label">Password</label>
      <input type="password" name="password" class="form-control" id="inputPassword4">
    </div>
    <div class="col-md-6">
      <label for="inputGender" class="form-label">Gender</label>
      <input type="text" name="gender" class="form-control"  id="inputGender">
    </div>

 
   
    <div class="col-12">
      <button type="submit" class="btn btn-primary">Add User</button>
    </div>
  </form>

  <hr>

  
</div>